* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 100%;
  font-family: sans-serif;
}
body {
  background-image: url("../img/chalkboard.jpg");
  background-size: cover;
  height: 100vh;
  position: relative;
}

h1 {
  color: rgb(232, 224, 214);
  padding-top: 1em;
  text-align: center;
  font-size: 3rem;
}
.container {
  color: rgb(232, 224, 214);
  width: 80%;
  margin: 0 auto;

  margin-top: 2em;
  padding: 0.5em;
  font-size: 2rem;
}

.container > * {
  margin-bottom: 1em;
}

.numbers {
  display: flex;
  justify-content: space-between;
  gap: 1em;
  text-align: center;
}
.numbers p {
  width: 40%;
}

span {
  font-size: 2.4rem;
}

#result {
  text-align: center;
}
